

/*--- navigation bar ---*/
.navbar 
{
    background:#2C2B2B;
    height: 110px;
    border-bottom: 3px solid #3EE5CA;

}
.navbar-brand 
{    
 color: #fff;
 cursor: pointer;
 
}
.nav-link
{    
 color: #07D1B1;
 cursor: pointer;
font-size : 25px;
 
}
    
.nav-link 
{
 margin-right: 1em !important;
    margin-top : 2em;
}

.nav-link:hover 
{
 color: #fff;
}

 .searchbar
    {
    margin-top: 1em;
        margin-left: 1.5em;
    height: 40px;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
    width: 350px;
    cursor : pointer;
    
    }

    .search_input
    {
    color: #fff;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    line-height: 40px;
    }
    .search_icon{
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #353b48;
    text-decoration:none;
    }

/*--header--*/
.header 
{
 background-size: cover;
 background-position: center;
 position: relative;
}
.overlay 
{
 position: absolute;
 min-height: 70%;
 min-width: 100%;
 left:0;
top: 0px;
 background-color: rgba(0, 0, 0, 0.4);
}   
.description
{
    text-align: center;
    padding-bottom: 1em;
    padding-top:0em;
  
}




.page-footer {

 background-color: rgba(0, 0, 0, 0.4);
 color: #000;
 padding: 60px 0 30px;
    
}
.footer-copyright {
 color: #000;
 padding: 40px 0;
}

    





